:root {
  --c-gray-dark: #212529;
  --c-gray-light-6: #868e96;
  --c-gray-light-5: #adb5bd;
  --c-gray: #ced4da;
  --c-violet-6: #7950f2;
  --c-violet-5: #845ef7;
  --c-white: #fff;

  --c-bleu-9: #1864ab;
  --c-bleu-8: #1971c2;
  --c-bleu-6: #228be6;
  --c-bleu-4: #4dabf7;
  --c-bleu-3: #74c0fc;
  --c-bleu-2: #a5d8ff;
}
